{% extends "layout.py.jinja" %}
{% block body %}
from odoo import api, models


class WizardModel(models.TransientModel):
    _name = "module.wizard_model"
    _description = "Wizard Name"

    @api.multi
    def action_accept(self):
        """Do something useful."""
        self.ensure_one()
        self.do_something_useful()
{% endblock %}
