{% extends "layout.xml.jinja" %}
{% block body %}
<data>
    <record id="wizard_model_view_form" model="ir.ui.view">
        <field name="name">My view description</field>
        <field name="model">module.wizard_model</field>
        <field name="arch" type="xml">
            <form string="Select event to register">
                <p>My wizard form view</p>
                <footer>
                    <button
                        name="action_accept"
                        type="object"
                        string="Accept"
                        class="oe_highlight"
                    />
                    <button special="cancel" string="Cancel" />
                </footer>
            </form>
        </field>
    </record>

    <record id="wizard_model_action" model="ir.actions.act_window">
        <field name="name">Open wizard</field>
        <field name="res_model">module.wizard_model</field>
        <field name="view_type">form</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
</data>
{% endblock %}
