{% extends "layout.xml.jinja" %}
{% block body %}
<data>
    <template id="assets_frontend_demo" inherit_id="website.assets_frontend">
        <xpath expr=".">
            <script
                type="text/javascript"
                src="/module/static/src/js/web_module_name.tour.js"
            />
        </xpath>
    </template>
</data>
{% endblock %}
