{% extends "layout.py.jinja" %}
{% block body %}
from odoo.tests.common import HttpCase, TransactionCase


class SomethingCase(TransactionCase):
    @classmethod
    def setUpClass(cls):
        super().setUpClass()

    @classmethod
    def tearDownClass(cls):
        super().tearDownClass()

    def setUp(self):
        super().setUp()

        # TODO Replace this for something useful or delete this method
        self.do_something_before_all_tests()

    def tearDown(self):
        # TODO Replace this for something useful or delete this method
        self.do_something_after_all_tests()

        return super().tearDown()

    def test_something(self):
        """First line of docstring appears in test logs.

        Other lines do not.

        Any method starting with ``test_`` will be tested.
        """


class UICase(HttpCase):
    def test_ui_web(self):
        """Test backend tests."""
        self.browser_js(
            "/web/tests?debug=assets&module=module_name",
            "",
            login="admin",
        )

    {%- if odoo_version >= 13 %}

    def test_ui_website(self):
        """Test frontend tour (v13)."""
        self.start_tour("/shop", "tour_name", login="admin")

    {%- elif odoo_version >= 12 %}

    def test_ui_website(self):
        """Test frontend tour (v12)."""
        tour = "tour_name"
        self.browser_js(
            url_path="/shop",
            code="odoo.__DEBUG__.services['web_tour.tour'].run('%s')" % tour,
            ready="odoo.__DEBUG__.services['web_tour.tour'].tours.%s.ready" % tour,
            login="admin",
        )

    {%- else %}

    def test_ui_website(self):
        """Test frontend tour (v11)."""
        tour = "tour_name"
        self.phantom_js(
            url_path="/",
            code="odoo.__DEBUG__.services['web.Tour']" ".run('%s', 'test')" % tour,
            ready="odoo.__DEBUG__.services['web.Tour'].tours.%s" % tour,
            login="admin",
        )

    {%- endif %}
{% endblock %}
