{% extends "layout.xml.jinja" %}
{% block body %}
<data>

<template id="assets_common" inherit_id="web.assets_common">
    <xpath expr=".">
        <link rel="stylesheet"
              href="/module/static/src/css/module_name.css"/>
        <script type="text/javascript"
                src="/module/static/src/js/module_name.js"/>
    </xpath>
</template>

<template id="assets_backend" inherit_id="web.assets_backend">
    <xpath expr=".">
        <link rel="stylesheet"
              href="/module/static/src/css/module_name.css"/>
        <script type="text/javascript"
                src="/module/static/src/js/module_name.js"/>
    </xpath>
</template>

<template id="assets_frontend" inherit_id="website.assets_frontend">
    <xpath expr=".">
        <link rel="stylesheet"
              href="/module/static/src/css/module_name.css"/>
        <script type="text/javascript"
                src="/module/static/src/js/module_name.js"/>
    </xpath>
</template>

<template id="assets_editor" inherit_id="website.assets_editor">
    <xpath expr=".">
        <!-- If tour is only for testing, better add it in demo/assets.xml -->
        <script type="text/javascript"
                src="/module/static/src/js/module_name.tour.js"/>
    </xpath>
</template>

<template id="qunit_suite" inherit_id="web.qunit_suite">
    <xpath expr="//html/head" position="inside">
        <script type="application/javascript"
                src="/module/static/tests/js/module_name.js"/>
    </xpath>
</template>

</data>
{% endblock %}
